body, h1, h2, ul, li, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #8ab661;
  color: #444;
}

header {
  background-color: #f8f8f8; 
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: left;
}

.logo {
  margin-bottom: 20px; 
}

header img {
  width: 350px; 
  height: auto;
  margin-right: 20px; 
}

nav ul {
  list-style: none;
  margin-left: 40px;
}

nav ul li {
  display: inline;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #e52c3f; 
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #fff; 
  border: 1px solid #ccc; 
  padding: 5px 0;
}

li:hover .dropdown {
  display: block;
}

.dropdown li {
  list-style: none;
}

.dropdown a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #333; 
}

.dropdown a:hover {
  background-color: #f0f0f0; 
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.main-content {
  display: flex;
}

.blog-posts {
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.blog-post {
  max-height: 300px; 
  overflow: hidden;
  background-color: #fff; 
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.skeleton {
  animation: shimmer 2s infinite linear;
}

.skeleton-title,
.skeleton-meta,
.skeleton-excerpt {
  background-color: #f0f0f0; /* Color for skeleton UI */
  height: 15px; /* Adjust as needed */
  margin-bottom: 10px;
}

.blog-post h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.blog-post p {
  color: #555;
  margin-bottom: 15px;
  flex: 1;
  overflow: hidden;
}

.blog-post a {
  text-decoration: none;
  color: #f9a72b; 
  font-weight: bold;
}

.blog-post a:hover {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: inherit; 
}

nav ul li a:hover {
  text-decoration: none;
}

a:not(nav ul li a):hover {
  text-decoration: underline;
  color: #f2ef1d; 
}

.blog-and-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-buttons {
  text-align: center;
}

.pagination-buttons button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  background-color: #e52c3f;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination-buttons button:hover {
  background-color: #d51e30;
}

.sidebar {
  flex: 1;
  padding: 20px;
}

.about-me,
.search-by-type {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.about-me {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-me h2 {
  margin-bottom: 10px;
  color: #e52c3f;
}

.about-me img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.about-me p {
  color: #555;
  line-height: 1.5;
}


.about-me h2,
.search-by-type h2 {
  margin-bottom: 10px;
  color: #e52c3f;
}

.search-by-type ul {
  padding-left: 0; 
  list-style: none; 
}

.search-by-type li a {
  color: #8ab661;
  text-decoration: none; 
}


.search-by-type li a:hover {
  color: #8ab661; 
  text-decoration: none; 
}

footer {
  background-color: #f8f8f8; 
  text-align: center;
  padding: 10px;
  color: #f9a72b; 
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}